name: app_bar_search
description: A lightweight Flutter AppBar widget with integrated search and smooth animations.
version: 1.0.8
homepage: https://github.com/ashkanbmn/app_bar_search

environment:
  sdk: ">=2.18.4 <4.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true